.conection {
  text-align: center;
  color: white;
  background: rgb(0, 36, 25);
  background: linear-gradient(311.56deg, #d45b78 -21.39%, #4b3862 75.84%);

  &__wrapper {
    position: relative;
  }

  &__img {
    margin-top: 141px;
    margin-bottom: 80px;

    @include media-sm-desktop-and-up {
      margin-bottom: 20px;
      margin-top: 170px;
    }
  }

  &__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-align: center;

    @include media-lg-desktop-and-up {
      font-size: 64px;
      line-height: 75px;
    }
  }

  &__text {
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;

    @include media-lg-desktop-and-up {
      font-size: 24px;
      line-height: 36px;
      margin-left: 170px;
      margin-left: 150px;
    }
  }

  &__boble {
    position: absolute;
    left: 5px;
    bottom: 79px;

    @include media-tablet-and-up {
      display: none;
    }
  }

  &__boble-one {
    position: absolute;
    right: 35px;
    bottom: 16px;

    @include media-tablet-and-up {
      display: none;
    }
  }

  &__bubl-2 {
    display: none;

    @include media-lg-desktop-and-up {
      display: inline;
      position: absolute;
      bottom: 1px;
      right: 1px;
    }
  }

  &__bubl-3 {
    display: none;

    @include media-tablet-and-up {
      display: inline;
      position: absolute;
      left: 5px;
      bottom: 45px;
    }

    @include media-lg-desktop-and-up {
      display: inline;
      position: absolute;
      left: 1px;
      bottom: 45px;
    }
  }

  &__button {
    margin-top: 70px;
    margin-bottom: 35px;

    @include media-lg-desktop-and-up {
      margin-bottom: 85px;
    }
  }
}
