.header {
  color: white;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  &__logo {
    max-width: 50px;
    margin-top: 25px;

    @include media-mobile-and-tablet {
      max-width: 100px;
    }

    @include media-sm-desktop-and-up {
      max-width: 114px;
      margin-top: 75px;
    }
  }

  &__toggles {
    @include media-tablet-and-up {
      display: none;
    }
  }

  &__wrapper {
    display: none;

    @include media-tablet-and-up {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @include media-sm-desktop-and-up {
      margin-top: 100px;
    }
  }
}
