.button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 28px;
  width: 300px;
  height: 60px;
  background-color: rgba(215, 92, 120, 1);
  text-transform: uppercase;
  border-radius: 5px;
  filter: drop-shadow(0px 17px 32px rgba(0, 0, 0, 0.25));
  border: 0px;

  @include desktop {
    font-size: 36px;
    line-height: 42px;
    width: 370px;
    height: 82px;
  }

  &--try {
    font-weight: normal;
    border: 3px solid white;
    background-color: transparent;
    max-width: 230px;
    height: 47px;
  }

  &--login {
    display: none;

    @include tablet-and-up {
      display: flex;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      font-weight: normal;
      background-color: transparent;
      border: 0;
      text-transform: none;
      max-width: 50px;
    }
  }

  &--reg {
    display: none;

    @include tablet-and-up {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 41px;
      font-size: 18px;
      line-height: 21px;
      background-color: transparent;
      border: 2px solid white;
      border-radius: 5px;
      text-transform: none;
      padding-left: 28px;
      padding-right: 28px;
    }
  }
}
